
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main {
  width: 100vw;
  height: 100vh;
}

.picker {
  width: max-content;
  height: max-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);

  & input {
    margin: 10px;
    max-width: 400px;
    width: 80%;
  }
}
